body {
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    background-color: #f2f7fa;
}

i {
    vertical-align: middle;
    z-index: 2;
}

nav .container-fluid{
    background-color: #8355C3;
    color: #ffffff;
}

.card-color-1 {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.card-color-2 {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.card-color-3 {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.card-color-4 {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    height: auto;
    padding: 5px;
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 16px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.card-login {
    display: block;
    padding: 26px;
    margin-top: 50px;
}

.card.fee-structure {
    text-align: left;
    align-items: flex-start;
}

.card.fee-structure p {
    margin-top: 5px;
}

.card.fee-structure.card-create {
    background-color: #f2f5f7;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.structure-title p {
    font-weight: 700;
}

.structure-sub-title p {
    font-weight: 300;
    margin-bottom: 50px;
}

.structure-total p {
    font-weight: 100;
}

.card.item-card {
    flex-direction: row;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#login .container-fluid{
    background-color: #9861EE;
}

#login .wrapper {
    width: 20%;
    margin: 10% auto;
}

#login input[type='text'], #login input[type='email'], #login input[type='password'] {
    background-color: #8355C3;
    color: #FFFFFF;
    border-width: 0;
    margin: 5px;
}

#login button[type='submit']{
    color: #FFFFFF;
}

#login h2 {
    color: #FFFFFF;
}

#index h3{
    color: #FFFFFF;
}

#index .row{
    border-radius: 5px;
}

#index .col-lg-4 .grey{
    background-color: #3c3c3c;
}


#index .col-lg-4 .amber{
    background-color: #c0a16b;
}


#index .col-lg-4 .green{
    background-color: #00dd00;
}
